[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
jupyter-contrib-nbextensions = "*"
jupytext = "*"
scikit-learn = "*"
lightgbm = "*"
shap = "*"
tensorflow-data-validation = "*"
typing = "*"
jupyterthemes = "*"

[requires]
python_version = "3.7"
